<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body class="bs-docs-home">

    <!-- Page content of course! -->
    {{ content }}

    <footer class="container" role="contentinfo">

      <ul class="bs-masthead-links">
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="#">GitHub</a>
        </li>
        <li>
          <a href="#">Twitter</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
