<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body class="bs-docs-home">

    <!-- Page content of course! -->
    {{ content }}

    <footer class="container" role="contentinfo">

      <ul class="bs-masthead-links">
        <li>
          <a href="/blog">blog</a>
        </li>
        <li>
          <a href="http://github.com/hotrannam">github</a>
        </li>
        <li>
          <a href="http://twitter.com/hotrannam">twitter</a>
        </li>
        <li>
          <a href="/about">about</a>
        </li>
      </ul>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
